<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name = "org.opencds.cqf.cql.engine.debug" level="DEBUG"/>
	<logger name="org.apache.tomcat.util.net" level="DEBUG"/>
	<logger name="org.springframework.boot.web.embedded.tomcat" level="DEBUG"/>
	<logger name="javax.net.ssl" level="DEBUG"/>
	<logger name="sun.security.ssl" level="DEBUG"/>
</configuration>
